%li.list-group-item
  %h4
    %span.glyphicon.glyphicon-file &nbsp;
    = link_to gridfs_file.name, file_path(gridfs_file), target: '_blank'
    = link_to file_path(gridfs_file), method: :delete, class: 'btn btn-sm' do
      %i.glyphicon.glyphicon-remove
