.container
  %h3
    = render partial: 'breadcrumb', locals: {current_folder: @home_folder }
    = render partial: 'actions', locals: {current_folder: @home_folder }
.container
  %ul.list-group
    = render @home_folder.sub_folders

.container
  %ul.list-group
    = render partial: 'gridfs_file', collection: @home_folder.files
